//- controlPanel.jade
extends ./layout

block body
	.container
		.col-sm-12
			h1= title
			p Welcome to #{title}

		if( data.tomove.length != 0 )
			.col-sm-12
				p Please remove the following files from the sites-enabled directory, as they do not appear in sites-available.
				ul
					each site in data.tomove
						li=site
		.col-md-6
			h2 These Sites are Symlinked
			table.table.table-striped
				thead
					td
						th URL
						th
						th
						th
				tbody
					each site in data.symlinked
						tr
							td
								a(href='http://'+site)=site 
							td
								a.btn.btn-primary(href="/symlink/remove/"+site) Disable
							td
								a.btn.btn-primary(href="//files.hyprtxt.com/"+site) Files
							td
								a.btn.btn-primary(href="/site/read/"+site) View Config
		.col-md-6
			h2 These Sites are Disabled
			table.table.table-striped
				thead
					td
						th URL
						th
						th
						th
				tbody
					each site in data.notsymlinked
						tr
							td
								a(href='http://'+site)=site 
							td
								a.btn.btn-primary(href="/symlink/create/"+site) Symlink
							td
								a.btn.btn-primary(href="//files.hyprtxt.com/"+site) Files
							td
								a.btn.btn-primary(href="/site/read/"+site) View Config
		.col-md-6
			h2 Nginx Manager
			form(method="GET", action="/nginx/test")
				button.btn.btn-primary test
			form(method="GET", action="/nginx/reload")
				button.btn.btn-primary reload